@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", 'Noto Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2 ease;
  -webkit-transition: 0.2 ease;
  -moz-transition: 0.2 ease;
  -ms-transition: 0.2 ease;
  -o-transition: 0.2 ease;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;

  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  transition: 0.2 ease;
  -webkit-transition: 0.2 ease;
  -moz-transition: 0.2 ease;
  -ms-transition: 0.2 ease;
  -o-transition: 0.2 ease;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;

}

#navbar li {
  padding: 0 20px;
  list-style: none;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3 ease;
  -webkit-transition: 0.3 ease;
  -moz-transition: 0.3 ease;
  -ms-transition: 0.3 ease;
  -o-transition: 0.3 ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: rgb(2, 170, 156);

}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: '';
  width: 30px;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 20px;
  background: rgb(2, 170, 156);
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

#hero {
  background-image: url('img/hero4.png');
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: rgb(2, 170, 156);
  ;
}

#hero button {
  background-image: url('img/button.png');
  background-color: transparent;
  color: rgb(2, 170, 156);
  border: 0;
  padding: 14px 80px 15px 65px;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 18px;

}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  /*XandYoffsetsrelativetotheelement,blurandspreadradius,andcolor.*/
  border: 1px solid rgba(228, 227, 227, 0.644);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 15px 0px
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 150px;
  margin-bottom: 5px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: rgb(2, 170, 156);
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;

}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 25px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0px;
  transition: 0.2 ease;
  -webkit-transition: 0.2 ease;
  -moz-transition: 0.2 ease;
  -ms-transition: 0.2 ease;
  -o-transition: 0.2 ease;
  -webkit-transition: 0.2 ease;
  position: relative
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0px;

}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des .star .icon {
  color: rgb(243, 181, 25);
  font-size: 12px;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(2, 170, 156);
}

#product1 .pro .cart {
  width: 30px;
  height: 30px;
  line-height: 30px;
  fill: rgb(2, 170, 156);
  font-weight: 300;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  background-image: url('img/banner/b2.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #ffffff;
  font-size: 16px;
}

#banner h2 {
  color: #ffffff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: red;
}

#banner button:hover {
  background-color: rgb(2, 170, 156);
  color: white;
}

#sm-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#sm-banner #banner-box {
  background-image: url('img/banner/b17.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px
}

#sm-banner h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner #banner-box:hover button {
  border: 1px solid rgb(2, 170, 156);
  background: rgb(2, 170, 156);
}

#sm-banner #banner-box:nth-child(2) {
  background-image: url('img/banner/b10.jpg');
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
  ;
}

#banner3 .banner-box {
  background-image: url('img/banner/b7.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 .banner-box h3 {
  color: red;
  font-weight: 800;
  font-size: 15px;
}

#banner3 .banner-box2 {
  background-image: url('img/banner/b4.jpg');
}

#banner3 .banner-box3 {
  background-image: url('img/banner/b18.jpg');
}

#newsletter {
  display: flex;
  background-image: url('img/banner/b14.png');
  background-repeat: no-repeat;
  background-position: 20% 30%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: rgb(2, 170, 156);
  color: #fff;
  white-space: nowrap;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;

}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
  color: rgb(2, 170, 156);
}

footer .install .row img {
  border: 1px solid rgb(2, 170, 156);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

@media (max-width:779px) {
  .section-p1 {
    padding: 40px 40px
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3 ease;
    -webkit-transition: 0.3 ease;
    -moz-transition: 0.3 ease;
    -ms-transition: 0.3 ease;
    -o-transition: 0.3 ease;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px
  }

  #navbar.active {
    right: 0px
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 100px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    width: 40%;
    margin: 10px;
  }

  #banner {
    height: 30vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner3 {
    margin: 0 20px;
  }

  #banner3 .banner-box {
    width: 20%;
  }

  #newsletter .form {
    display: flex;
    width: 70%;
  }
}

/* Shop page */
#page-header {
  background-image: url('img/banner/b1.jpg');
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: rgb(2, 170, 156);
  padding: 15px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-weight: 600;
  color: #fff;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

#prodetails {
  display: flex;
  margin-top: 20px
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;

}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details select:focus {
  outline: none;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details button {
  background-color: rgb(2, 170, 156);
  color: white;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

.small-img-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#page-header.blog-header {
  background-image: url('img/banner/b19.jpg');
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position:relative;
  padding-bottom: 90px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.5s ease;
}

#blog .blog-details a::after {
  content: ' ';
  height: 1px;
  width: 50px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px
}

#blog .blog-details a:hover {
  color: rgb(2, 170, 156);
}

#blog .blog-details a:hover::after {
  background-color: rgb(2, 170, 156);
}
#blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9c7c7;
  z-index: -10;

}
@media (max-width:477px) {
  .section-p1 {
    padding: 20px
  }

  #header {
    padding: 10px 30px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }

  h2 {
    font-size: 32px;
  }

  h1 {
    font-size: 38px;
  }

  #feature {
    justify-content: space-between;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;

  }

  #feature .fe-box img {
    width: 120px;
  }

  #product1 .pro {
    width: 100%;

  }

  #sm-banner #banner-box {
    height: 30vh;
    background-size: 70% 100%;
    background-repeat: no-repeat;
  }

  #sm-banner #banner-box2 {
    margin-top: 20px;
  }

  #banner3 {
    padding: 0 20px
  }

  #banner3 .banner-box {
    width: 100%
  }

  #newsletter {
    padding: 40px 20px
  }

  #newsletter .form {
    width: 100%
  }

  footer .copyright {
    text-align: start;
  }

  /* Single Product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }

  #prodetails .single-pro-details {
    width: 100%;
    padding-top: 0px;
  }
}